@model Craft
<div class="d-flex justify-content-around">
    <div class="border shadow rounded p-2 w-50">
        <h3>@Model.Title</h3>
        <img class="oneImg" src="@Model.Image" alt="@Model.Title">
        <h4>By; @Model.Creator.Username</h4>
        <h4>@Model.Price.ToString("C")</h4>
        <h4>Only @Model.Quantity in stock!</h4>
        <p>@Model.Description</p>
    </div>
    <div>
        <h3>Order Now</h3>
        @{
            Order newOrder = new Order()
            {
                CraftId = Model.CraftId
            };
        }
        @await Html.PartialAsync("_OrderCraft", newOrder)
    </div>
</div>
