@model Survey

<main class="d-flex justify-content-center">
    <div class="mt-5 border border-dark w-25 p-5">
        <p>Name: @Model.Name</p>
        <p>Location: @Model.Location</p>
        <p>Language: @Model.Language</p>
        <p>Comment: @Model.Comment</p>
        <p>Birthday: @Model.date</p>
    </div>
</main>
